<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="example.DeviceControl">
    <uses-sdk android:minSdkVersion="24"/>
    <application android:label="DeviceControl">
        <activity android:name=".DeviceControl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
